<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">kynetic intelligence</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">kynetic intelligence</li>
          <li>Say hello! <a class="u-email" href="mailto:hello@kynetic.ai">hello@kynetic.ai</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- if site.github_username -%}
          <li>
            <a href="https://github.com/{{ site.github_username | escape }}">
              <svg class="svg-icon"><use xlink:href="{{ "/assets/minima-social-icons.svg#github" | relative_url }}"></use></svg>
              <span class="username">{{ site.github_username | escape }}</span>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
